<div class="navbar" data-controller="burger-menu logo-bounce" >
  <div class="logo-box" id="logoBoxArtistic">
    <div class="logo-content-artistic">
      <div class="logo-a">
        A
      </div>
      <div class="logo-dark-spot"></div>
      <div class="logo-slash">
        |
      </div>
      <div class="logo-n">
        N
      </div>
    </div>
  </div>
  <div class="navbar-content" >
    <!--
    <div class="link-container-navbar" id="navbarContent">
      <ul>
        <%# <li><a href="/">HOME</a></li> %>
        <% if controller_name == "pages" && action_name == "biography" %>
          <li><a href="/media">MEDIA</a></li>
        <%else%>
          <li><a href="/biography">BIOGRAPHY</a></li>
        <% end %>
        <li><a href="/#contactMe">CONTACT</a></li>
      </ul>
    </div>
    -->

    <div id="main">
      <div id="menu-container" style="display: none;">
        <ul>
          <li><%= link_to "HOME", root_path %></li>

          <% if controller_name == "pages" && action_name == "biography" %>
            <li><%= link_to "MEDIA", media_path %></li>
          <% else %>
            <li><%= link_to "BIOGRAPHY", biography_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <p id="albert">A L B E R T N I K O L L I</p>
  <div class="burger-menu" id="burger-menu">
    <div class="line top"></div>
    <div class="line middle"></div>
    <div class="line bottom"></div>
  </div>
</div>
