<div class="navbar" data-controller="burger-menu logo-bounce" >
  <div class="logo-box" id="logoBoxArtistic">
    <div class="logo-content-artistic">
        <div class="logo-a">
          A
        </div>
      <div class="logo-dark-spot"></div>
      <div class="logo-slash">
        |
      </div>
      <div class="logo-n">
        N
      </div>
    </div>
  </div>
  <div class="navbar-content">
    <div class="link-container-navbar">
      <ul>
        <%# <li><a href="/">HOME</a></li> %>
        <li><a href="/biography">BIOGRAPHY</a></li>
        <li><a href="/media">MEDIA</a></li>
        <li><a href="/#contactMe">CONTACT</a></li>
      </ul>
    </div>

    <div id="main">
      <div class="burger-menu" id="burger-menu">
        <div class="line top"></div>
        <div class="line middle"></div>
        <div class="line bottom"></div>
      </div>
      <div id="menu-container" style="display: none;">
        <ul>
          <li><a href="/">HOME</a></li>
          <li><a href="/biography">BIOGRAPHY</a></li>
          <li><a href="/media">MEDIA</a></li>
          <li><a href="/contacts">CONTACTS</a></li>
        </ul>
        <%# <%=image_tag 'N.png' %>
        <%# <p>This page is being constructed, so please be patient until the magic is released!</p> %>
      </div>
    </div>
  </div>
  <p>A L B E R T N I K O L L I</p>
</div>
