#about-me {
  color: rgb(172, 171, 166);
  font-family: Arial, sans-serif;
  line-height: 1.6;
  font-size: 1.2rem;
  width: 80%;
  @media (max-width: 760px) {
    width: 90%;
    padding-top: 20px;
    text-align: justify;

  }

  .image-container {
    float: right;
    margin: 0  0  0 1em;
    opacity: 0.8;
    padding-top: 50px;
    padding-right: 10px;
    max-width: 250px;
    img {
      box-shadow: 0 4px 8px rgba(255,255,255,0.2),0 6px 20px rgba(255,255,255,0.15);
      width: 100%;
      height: auto;
    }
    @media (max-width: 760px) {
      max-width: 150px;
    }
  }
}

#about-me h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

#about-me p {
  margin-bottom: 20px;
}

#about-me ul {
  margin: 20px 0;
  padding-left: 40px;
  list-style-type: none;

  @media (max-width: 760px) {
    padding-left: 0px;
    width: 90%;
    margin: auto;

  }
}

#about-me li {
  margin-bottom: 10px;
}
