<p style="color:white;text-align:center">Hello ther call me</p>
<ul style="color:white;list-style-type:none;">
  <li>Phone: +33 777963942</li>
  <li>Email: albert_nikolli@icloud.com</li>
  <li>
    <a href="">LinkedIn</a>
    <a href="">Instagram</a>
    <a href="">Facebook</a>
  </li>
</ul>
