<%# <div class="background">
  <h3>Albert Nikolli</h3>
  <p>Arts and Software</p>
  <p>Website on building</p>
</div> %>
<div class="img-container">
  <div class="first-row">
    <div class="div1 img"></div>
    <div class="div2 img"></div>
    <div class="div3 img"></div>
  </div>
  <div class="second-row">
    <div class="div1 img"></div>
    <div class="div2 img"></div>
  </div>
</div>
<div class="third-row">
  <div class="div1 img"></div>
  <div class="div2 img"></div>
  <div class="div3 img"></div>
  <div class="div4 img"></div>
</div>
<%# <hr>  %> <!--Take off this comment in case you'd like to take off the 1px border -->
<div class="contanct">
  <div class="text">
    <p>Falling is one of the ways of moving.</p>
    <h3>Merce Cunningham</h3>
  </div>
</div>
<div style="width:300px;margin:0;margin:auto ">
  <audio controls
    style="opacity:0" id="hidden-audio">
    <source src="https://cdn.freesound.org/previews/733/733990_14464791-lq.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>
</div>
