<%# <div class="background">
  <h3>Albert Nikolli</h3>
  <p>Arts and Software</p>
  <p>Website on building</p>
</div> %>
<div class="img-container">
  <div class="first-row">
    <div class="div1 img"></div>
    <div class="div2 img"></div>
    <div class="div3 img"></div>
  </div>
  <div class="second-row">
    <div class="div1 img"></div>
    <div class="div2 img"></div>
  </div>
</div>
<div class="third-row">
  <div class="div1 img"></div>
  <div class="div2 img"></div>
  <div class="div3 img"></div>
  <div class="div4 img"></div>
</div>
<hr>
<div style="width:300px;margin:0;margin:auto ">
<audio controls autoplay>
  <source src="https://cdn.freesound.org/previews/733/733990_14464791-lq.mp3" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>
</div>
