<div>
  <p>Hey Albert,</p>
  <p>Someone has contacted you through your website. Here are the details:</p>
  <p>Name: <%= @name %></p>
  <p>Email: <a href="mailto:<%= @from_email %>"></a></p>
  <p>Message: <%= @message %></p>
  <p>Thanks!</p>
</div>
