.copyright {
  align-items: center;
  appearance: auto;
  background-color: rgba(0, 0, 0, 0);
  border-bottom-color: rgba(255, 255, 255, 0.8);
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgba(255, 255, 255, 0.8);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgba(255, 255, 255, 0.8);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgba(255, 255, 255, 0.8);
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-top-style: solid;
  border-top-width: 1px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  display: flex;
  filter: drop-shadow(rgba(1, 1, 1, 0.5) 0px 0px 4px);
  font-family: basetica, Helvetica, sans-serif;
  font-feature-settings: normal;
  font-kerning: auto;
  font-optical-sizing: auto;
  font-size: 12px;
  font-size-adjust: none;
  font-stretch: 100%;
  font-style: normal;
  font-variant-alternates: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variant-position: normal;
  font-variation-settings: normal;
  font-weight: 400;
  height: 22px;
  justify-content: center;
  letter-spacing: normal;
  line-height: 12px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-block-end: 7px;
  padding-block-start: 7px;
  padding-bottom: 7px;
  padding-inline-end: 0px;
  padding-inline-start: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 7px;
  position: relative;
  text-align: start;
  text-indent: 0px;
  text-shadow: none;
  text-transform: none;
  width: 22px;
  word-spacing: 0px;
  z-index: 1;
  -webkit-font-smoothing: antialiased;

}

.copyright::after {
  content: attr(title);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.copyright:hover::after {
  opacity: 1;
  visibility: visible;
}
