.logo-box {
  cursor: pointer;
  font-family: "Work Sans", Helvetica, "sans-serif";
  display: inline;
  position: sticky;
  top: 50px;
  left: 90px;
  position: absolute;
  margin: auto;
  color: rgb(172, 171, 166);
  background-color: black;
  z-index: 101;

  .logo-content-artistic {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 50%; /* Position the top edge at the vertical center */
    left: 50%; /* Position the left edge at the horizontal center */
    transform: translate(-50%, -50%); /* Move the div back by half its own width and height */
    // transform: rotateY(180deg);

    .logo-a {
      position: absolute;
      font-size: 65px;
      // font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      top: 20px;
      left: 38px;
      font-weight: 500;
    }

    .logo-dark-spot {
      position:absolute;
      font-size: 65px;
      background-color: black;
      width: 20px;
      border-radius: 10px;
      height: 44px;
      left: 60.5px;
      top: 58.5px;
      transform: rotate(45deg);
      z-index: 101;
    }

    .logo-slash {
      position: absolute;
      font-size: 65px;
      top: 22px;
      left: 60px;
      transform: rotate(45deg);
      z-index: 102;
      font-size: 80px;
    }

    .logo-n {
      position: absolute;
      font-size: 65px;
      top: 48px;
      left: 58px;
      font-weight: 500;
    }
  }
}

.logo-box-back {
  cursor: pointer;
  font-family: "Work Sans", Helvetica, "sans-serif";
  display: inline;
  position: sticky;
  top: -35px;
  left: 15px;
  position: absolute;
  margin: auto;
  color: rgb(172, 171, 166);
  background-color: black;
  z-index: 101;

  .logo-content-artistic-back {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 50%; /* Position the top edge at the vertical center */
    left: 50%; /* Position the left edge at the horizontal center */
    transform: translate(-50%, -50%); /* Move the div back by half its own width and height */
    transform: rotateY(180deg);

    .logo-a-back {
      position: absolute;
      font-size: 65px;
      // font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      top: 20px;
      left: 38px;
      font-weight: 500;
    }

    .logo-dark-spot-back {
      position: absolute;
      font-size: 65px;
      background-color: black;
      width: 20px;
      height: 44px;
      left: 60.5px;
      top: 58.5px;
      transform: rotate(45deg);
      z-index: 100;
    }

    .logo-slash-back {
      position: absolute;
      font-size: 65px;
      top: 22px;
      left: 60px;
      transform: rotate(45deg);
      z-index: 102;
      font-size: 80px;
    }

    .logo-n-back {
      position: absolute;
      font-size: 65px;
      top: 48px;
      left: 58px;
      font-weight: 500;
    }
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

.bounce {
  animation: bounce 1s ease infinite;
}
