.sidenav {
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 1100;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  overflow-x: hidden;
  transition: 0.5s  ease-in-out;
  // padding-top: 60px;

  @media (max-width: 450px) {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1100;
    top: 0;
    right: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s  ease-in-out;
    padding-top: 45px;
  }

  a {
    padding: 20px 8px 8px 32px;
    text-decoration: none;
    font-size: 35px;
    color: rgb(172, 171, 166);
    display: block;
    line-height: 1;
    transition: 0.3s;
    white-space: nowrap;

    @media (max-width: 450px) {
      padding: 12px 10px 10px 16px;
      text-decoration: none;
      font-size: 25px;
      color: rgb(172, 171, 166);
      display: block;
      line-height: 1;
      transition: 0.3s;
      white-space: nowrap;
    }

    &:hover {
    color: #f1f1f1;
    border-bottom: 1.5px solid rgb(172, 171, 166);
    }
  }

  .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;

    @media (max-width: 450px) {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 25px;
    }
  }

  header {
    color: rgb(172, 171, 166);
    text-align: center;
    font-size: 50px;
    margin-top:30px;
  }



  .sidenav-content {
    color:rgb(172, 171, 166);
    text-align:center;
    margin-top:30px;
    padding-top:50px;

    h1 {
      //
    }

    p {
      font-size: 20px;
      margin: 0;
      color:rgb(172, 171, 166);
    }

    ul {
      list-style-type: none;
      padding-left: 0;

      li {
        text-align: left;
        padding-left: 0px;
      }
    }

  }
}
