.sidenav {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1100;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  overflow-x: hidden;
  transition: 0.5s  ease-in-out;
  padding-top: 60px;


  @media (max-width: 450px) {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1100;
    top: 0;
    right: 0;
    background-color: #000;
    overflow-x: hidden;
    transition: 0.5s  ease-in-out;
    padding-top: 45px;

  }

  p {
    font-size: 20px;
  }
}

.sidenav a {
  padding: 20px 8px 8px 32px;
  text-decoration: none;
  font-size: 35px;
  color: rgb(172, 171, 166);
  display: block;
  line-height: 1;
  transition: 0.3s;
  white-space: nowrap;

  @media (max-width: 450px) {
    padding: 12px 10px 10px 16px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(172, 171, 166);
    display: block;
    line-height: 1;
    transition: 0.3s;
    white-space: nowrap;
  }

  &:hover {
  color: #f1f1f1;
  border-bottom: 1.5px solid rgb(172, 171, 166);
  }
}



.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;

  @media (max-width: 450px) {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 25px;
  }
}

.sidenav header {
  color: rgb(172, 171, 166);
  text-align: center;
  font-size: 50px;
  margin-top:30px;
}
#main {
  transition: margin-right .5s;
  padding: 16px;
}
