#svg {
  display:inline ;
  margin-right:20px ;
  box-sizing: border-box ;
  color: rgba(176, 175, 170, 0.971) ;
  cursor: pointer ;
  fill:  rgba(176, 175, 170, 0.971) ;
  font-family: Sarabun, sans-serif ;
  font-size: 50px ;
  font-weight: 400 ;
  height: 50px ;
  line-height: 50px ;
  width:50px ;
  -webkit-font-smoothing: antialiased ;
  &:hover {
    color: rgb(255, 255, 255) ;
    fill:  rgb(255, 255, 255) ;
  }
}
